.header {
	width: 100%;
	height: 10vh;
	background-color: black;
	margin: 0;
	padding: 0;
	&> p {
		font-size: 4vmin;
		margin: 0;
		padding: 0;
	}
}

.text {
	font-size: 3vmin;
	font-weight: bold;
	text-align: center;
	color: yellowgreen;
}
